@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

:root{
    --text: #AA644A;
    --text-secondary: #FFFFFF;
    --background: #efe9fc;
    --primary: #AA644A;
    --secondary: #7FA4A9;
    --accent: #80224d;
    --gray: #D3D5E4;
    --alert: #B91919;
}

*,
*:after,
*:before {
    font-family: 'Poppins';
    font-size: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
}

th,
td {
    padding: 0.5rem;
    text-align: start;
    height: 3rem;
}

th {
    background-color: #46a582;
    color: white;
}

td {
    background-color: rgb(203, 214, 219);
}

tr {
    border-radius: 50px;
    padding: 50px;
}

th:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

tbody tr td:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

tbody tr td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

tbody tr:hover td {
    background-color: rgb(180, 195, 200);
    transition: background-color 0.3s ease;
}

table img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

button {
    border: none;
    background-color: #46a582;
    padding: 1rem;
    border-radius: 1rem;
    width: 10rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

dialog {
    border: none;
    border-radius: 1rem;
    margin: auto;
    box-shadow: 0px 11px 39px 0px rgba(46, 34, 151, 0.055);
    
    & form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 0.5rem
    }
}

.form-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
    & label{
        color: var(--text);
        margin-bottom: 0.1rem;
    }
}


input {
    width: 100%;
    height: 50px;
    padding: 16px;
}

#submitBtn, #cancelBtn{
    border: none;
    border-radius: 12px;
    width: 100%;
    height: 54px;
    background-color: var(--primary);
    color: var(--text-secondary);
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1rem;

    &:hover{
        cursor: pointer;
    }
}

#cancelBtn{
    background-color: var(--background);
    color: var(--primary);
}